<div class="min-h-screen bg-gray-50 flex flex-col items-center py-16 px-4">
  <h1 class="text-4xl font-bold text-gray-800 mb-4">Vincent Launay Franceschini</h1>
  <p class="text-center text-lg text-gray-600 mb-12 max-w-2xl">
     Comédien, réalisateur et musicien, <em>Vincent</em> mêle émotion brute et univers cinématographique dans son travail.
  </p>

  <!-- Zone Vue -->
  <div class="min-h-screen bg-gray-50 flex justify-center items-start py-16 px-4">
    <div id="app" class="w-full max-w-2xl">
    </div>
</div>
